// .test-transition-green {
//   background-color: green;
//   height: 30px;
//   view-transition-name: test;
// }

.detail {
  view-transition-name: image;
  margin: 100px;
  background-color: orange;
}
